yarn-error.log*
yarn-debug.log*
web_modules/
vite.config.ts.timestamp-*
vite.config.js.timestamp-*
version
unlinked.ds
unlinked_spec.ds
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pubspec.lock
profile.cov
pids
out
npm-debug.log*
node_modules/
next-env.d.ts
logs
linked_*.ds
lib-cov
lerna-debug.log*
jspm_packages/
go.work.sum
go.work
flutter_*.png
doc/api/
dist
coverage/
coverage.*
coverage
build/Release
build/
bower_components
app.*.symbols
analysis_benchmark.json
/packages/flutter/coverage/
/out/
/node_modules
/dev/integration_tests/**/xcuserdata
/dev/integration_tests/**/Pods
/dev/docs/pubspec.yaml
/dev/docs/lib/
/dev/docs/flutter.docs.zip
/dev/docs/doc/
/dev/devicelab/ABresults*.json
/dev/bots/android_tools/
/dev/bots/.recipe_deps
/dev/benchmarks/mega_gallery/
/coverage
/build
/bin/mingit/
/bin/internal/bootstrap.sh
/bin/internal/bootstrap.bat
/bin/cache/
/.pnp
/.next/
**/xcuserdata/
**/windows/flutter/generated_plugins.cmake
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugin_registrant.cc
**/Pods/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral
**/linux/flutter/generated_plugins.cmake
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugin_registrant.cc
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Flutter.framework
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_assets/
**/ios/Flutter/ephemeral
**/ios/Flutter/app.zip
**/ios/Flutter/App.framework
**/ios/Flutter/app.flx
**/ios/Flutter/.last_build_id
**/ios/**/xcuserdata
**/ios/**/profile
**/ios/**/Pods/
**/ios/**/Icon?
**/ios/**/DerivedData/
**/ios/**/*sync/
**/ios/**/*.perspectivev3
**/ios/**/*.pbxuser
**/ios/**/*.moved-aside
**/ios/**/*.mode2v3
**/ios/**/*.mode1v3
**/ios/**/.vagrant/
**/ios/**/.tags*
**/ios/**/.symlinks/
**/ios/**/.sconsign.dblite
**/ios/.generated/
**/generated_plugin_registrant.dart
**/Flutter/ephemeral/
**/doc/api/
**/android/local.properties
**/android/key.properties
**/android/gradlew.bat
**/android/gradlew
**/android/captures/
**/android/**/gradle-wrapper.jar
**/android/**/GeneratedPluginRegistrant.java
**/.vitepress/dist
**/.vitepress/cache
*.tsbuildinfo
*.tgz
*.test
*.swp
*.so
*.seed
*.pyc
*.pid.lock
*.pid
*.pem
*.out
*.log
*.lock
*.lcov
*.js.map
*.js.deps
*.js_
*.js
*.jks
*.info.json
*.exe~
*.exe
*.dylib
*.dll
*.dart.js
*.coverprofile
*.class
.yarn/*
.yarn-integrity
.vuepress/dist
.vscode-test
.vite/
.vercel
.tern-port
.temp
.svelte-kit/
.stylelintcache
.serverless/
.pub/
.pub-preload-cache/
.pnpm-store
.pnp.js
.pnp.*
.parcel-cache
.packages.generated
.packages
.output
.nyc_output
.nuxt
.npm
.node_repl_history
.next
.lock-wscript
.history
.grunt
.gradle/
.fusebox/
.flutter-plugins-dependencies
.flutter-plugins
.firebase/
.eslintcache
.env*.local
.env*
.env.*
.env
.dynamodb/
.DS_Store
.docusaurus
.dart_tool/
.cache/
.cache
.buildlog/
!bun.lock
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!/dev/ci/**/Gemfile.lock
!**/ios/**/default.perspectivev3
!**/ios/**/default.pbxuser
!**/ios/**/default.mode2v3
!**/ios/**/default.mode1v3
!.yarn/versions
!.yarn/sdks
!.yarn/releases
!.yarn/plugins
!.yarn/patches
!.env.example
